{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "react-css-modules",
          {
            "generateScopedName": "[folder]__[local]__[hash]"
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-jsx-source",
        "react-hot-loader/babel",
        [
          "react-css-modules",
          {
            "generateScopedName": "[folder]__[local]__[hash]"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "react-css-modules",
          {
            "generateScopedName": "[folder]__[local]__[hash]"
          }
        ]
      ]
    },
    "jest": {
      "plugins": [
        [
          "react-css-modules",
          {
            "generateScopedName": "[local]"
          }
        ]
      ]
    }
  }
}
